/* Write your CSS here */
.background {
  height: 100vh;
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
}
.first-name {
  color: #dd1264;
  background-color: #ffffff;
}

.first-name-container {
  display: flex;
  flex-direction: column;
}
.first-cont {
  background-color: #fddddb;
  height: 20vh;
  width: 20vh;
  margin-top: 20px;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

.firstAndLastNameContainer {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}
